streamlit
python-dotenv
google-generativeai==0.8.5
langchain
langchain-google-genai
langchain-community
faiss-cpu
pandas
python-docx
docx2txt
PyPDF2
openpyxl
pillow
pytesseract
xlsxwriter
sentence-transformers
reportlab 
matplotlib  